
@import url('https://fonts.googleapis.com/css2?family=Hina+Mincho&display=swap');

.mainpage{   font-family: 'Hina Mincho', serif; width: 90%;    height: 100vh;    margin: auto;   }

.mainpage h2{margin:0; padding: 20px 0;}

.avatarstyle img{
    width: 200px;
    height: 200px;
}
